<link rel="stylesheet" href="css/font-awesome.min.css">

<html>
<head>
  <div id="bg">
<%= link_to image_tag("msa.jpg", alt: "MSA"), '/home' %>

</div>
  <a href="/home"><h4>Welcome to Yale AASA!</h4></a>
  <h5><a href="/home" class="button glow button-rounded button-flat-highlight">Enter</a></h5>
</head>

